
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&display=swap');

#links line {
  fill: none;
  stroke: #0c0c0c;
  stroke-width: .5;
}

#nodes circle {
  stroke: none;
  fill: "#0c0c0c";
  r: 5.5;
}

#graph text {
  font-family: 'Kanit';
  text-anchor: end;
}

#hulls path {
  fill-opacity: 0.4;
  stroke-width: 2;
}

#graph rect {
  stroke: #0c0c0c;
}

/* Add a class for highlighted map regions */
#map path.highlighted {
    stroke-width: 2px;
    stroke: #ff0000;
    stroke-opacity: 1;
}

#map path {
    stroke: #060606;
    stroke-width: 1px;
}

#name text {
    font-family: "Shadows Into Light";
    font-size: 20px;
}

#legend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Add a background color to the legend */
    border: 1px solid #ccc; /* Add a border for better visibility */
    padding: 10px; /* Add some padding for better spacing */
}

#legend rect {
    stroke: #272525;
    stroke-width: 1px;
}

#legend text {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    fill: #272525;
    margin-right: 10px; /* Add some margin to separate the color boxes from the text */
}

#y_axis .domain {
    display: none;
}

#slider-container {
  position: fixed; /* or 'relative', 'fixed', etc., depending on need */
  top: 20px; /* Adjust this value to move down */
  left: 750px; /* Adjust this value to move right */
  /* Add other styling as needed */
}

#reset-button {
  position: fixed; /* or 'relative', 'fixed', etc., depending on need */
  top: 20px; /* Adjust this value to move down */
  left: 50px; /* Adjust this value to move right */
  /* Add other styling as needed */
}

#matrix-plot  {
  position: fixed; /* or 'relative', 'fixed', etc., depending on need */
  top: 40px; /* Adjust this value to move down */
  left: 50px; /* Adjust this value to move right */
  /* Add other styling as needed */
}

#worldmap  {
  position: fixed; /* or 'relative', 'fixed', etc., depending on need */
  top: 40px; /* Adjust this value to move down */
  left: 700px; /* Adjust this value to move right */
  /* Add other styling as needed */
}

#gdplines  {
  position: fixed; /* or 'relative', 'fixed', etc., depending on need */
  top: 600px; /* Adjust this value to move down */
  left: 50px; /* Adjust this value to move right */
  /* Add other styling as needed */
}